header {
  background: $dark;
  color: $white;

  .logo-text {
    @include FontSemiBold(32px, 1.4);
    color: $white;
    padding-left: 5px;
  }

  .group-item {
    @include displayFlex();

    a {
      color: $white;
      text-decoration: none;
    }
  }

}
//
//@media (min-width: 768px) {
//
//  header {
//
//    .logo-text {
//      font-size: 1vw;
//    }
//  }
//}